
#galgje {
	width:100%;
	resize: none;
	height: 475px;
	font-size:18px;
}
.input{
	width: 100%;
	margin-bottom: 20px;
}
.input .part{
	display: inline-block;
	font-size:18px;
	padding:5px;
	font-family: monospace;
}
.part.text{
	width:20%;
}
.part.input-text{
	width:75%;
	float: right;
}
input[type="text"]{
	width: 100%;
	font-size: inherit;
	font-family: inherit;
}